.table{
    .tableCell{
        .productDetail{
            display: flex;
            align-items: center;
            
            img{
                width: 30px;
                height:30px;
                object-fit: cover;
                border-radius:50%;
                margin-right: 10px;

            }
            
          
        }
        .status {
            padding: 5px;
            border-radius: 5px;
        
            &.Approved {
              color: green;
              background-color: rgba(0, 128, 0, 0.151);
            }
            &.Pending {
              color: goldenrod;
              background-color: rgba(226, 203, 69, 0.103);
            }
          }
    }
}